/* "*" belgisi barcha elementlarga murojaatni anglatadi*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
/*bloklarning width ni o`zgarishini verstka uchun qulay qilib beradi*/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
/*quyidagi teglarni blok qilib beradi*/
nav,
footer,
header,
aside {
  display: block;
}
/*elementlarning hossalarini barcha brauzerlar uchun mo`tadillashtirib beradi*/
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjusst: 100%;
  -moz-text-size-adjusst: 100%;
  -webkit-text-size-adjust: 100%;
  /* font-family: "Poppins", sans-serif; */
  /* overflow: hidden; */
}
/*quyidagi teglarning shriftlar oilasini vorislashi taminlanadi*/
input,
button,
textarea {
  font-family: "Poppins";
}
/*turli brauzerlarning o`ziga xos hususiyatlarini olib tashlash*/
input:-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button:-moz-focus-innesr {
  padding: 0;
  border: 0;
}
/* a,
a:visited {
  text-decoration: none;
} */
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
/*sarlavharning odatdagi stillarini nullashtirish*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100vh;
  /* overflow: hidden; */
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  align-items: center;
}
.header__container {
  padding: 21px;
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.header__item:active {
  color: #6bc7e9;
}

.header__button:hover {
  background-color: rgb(35, 214, 25);
}

.header__items {
  display: flex;
  gap: 23px;
  align-items: center;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.06em;
  color: rgba(23, 20, 30, 0.5);
}

.header__item {
  cursor: pointer;
}

.header__button {
  height: 35px;
  padding: 6px 12px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #1d1d4a;
  border-radius: 6px;
  cursor: pointer;
}

.world {
  background-color: #cde3e6;
  
}

.world__container {
  display: flex;
  position: relative;
  justify-content: space-between;
  gap: 92px;
}

.world__left {
  padding: 162px 0 166px 0;
  width: 527px;
}
.world__title {
  /* margin-top: 162px; */
  font-weight: 600;
  font-size: 55px;
  line-height: 62px;
  letter-spacing: 0.01em;
  color: #17141e;
}
.world__subtitle {
  margin-top: 21px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: rgba(23, 20, 30, 0.74);
}
.world__button {
  align-self: flex-start;
  margin-top: 39px;
  padding: 8px 24px;
  height: 39px;
  background: #2c2c56;
  border: 1px solid #1d1d4a;
  border-radius: 6px;
  color: white;
}
.world__right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.world__books {
  display: flex;
  gap: 24px;
  position: absolute;
  top: 105px;
  left: -450px;
}

.world_book {
  margin-bottom: 135px;
}

.boods__radio {
  position: absolute;
  bottom: 104px;
  left: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__items > li:first-child {
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  color: #1d1d4a;
}

.favorite {
  margin-left: 50px;
  position: relative;
  margin-top: 102px;
}
.favorite__container {
  position: relative;

  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.favorite__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 59px;
  color: #17141e;
}
.favorite__icons {
  /* border: 1px solid black; */

  display: flex;
  gap: 978px;
}
.icon__1 {
  padding: 11px 17px;
  max-width: 51px;
  min-height: 33px;
  background: #ffffff;
  border: 1px solid #1d1d4a;
  border-radius: 3px;
}
.icon__2 {
  padding: 11px 17px;
  max-width: 51px;
  min-height: 33px;
  background: #2c2c56;
  border: 1px solid #1d1d4a;
  border-radius: 3px;
}

.favorite__books {
  /* border: 1px solid black; */
  /* margin-top: 44px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.favorite__book1 {
  margin-left: -50px;
}

.book1__border {
  max-width: 65px;
  min-height: 321px;
  background: #f2f2f2;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.book1__title {
  margin-top: 13px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #17141e;
}

.book1__subtitle {
  margin-top: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.07em;
  color: rgba(23, 20, 30, 0.5);
}

.favorite__book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 33px;
}

.book__border {
  max-width: 265px;
  min-height: 321px;
  background: #f2f2f2;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .book__border > img:last-child {
  max-width: 151px;

} */

.book__border > img {
  padding: 22px 28px;
}

.book__title {
  margin-top: 15px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #17141e;
}

.book_subtitle {
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.015em;
  color: rgba(23, 20, 30, 0.74);
}

.favorite__book4 {
  margin-left: 33px;
  margin-top: 122px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 33px;
}
.book__border4 {
  width: 265px;
  min-height: 464px;
  background: #d9fecd;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book__border4 > img {
  padding-top: 22px;
  padding-left: 28px;
  padding-right: 28px;
}
.book__title4 {
  margin-top: 25px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #17141e;
}

.book_subtitle4 {
  margin-top: 8px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.005em;
  color: #0e0e3e;
}

.book__button {
  margin-top: 12px;
  height: 35px;
  padding: 6px 19px;
  background: #ffffff;
  border: 1px solid #1d1d4a;
  border-radius: 6px;
  margin-bottom: 30px;
}

.favorite__book6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 33px;
}
.book__border6 {
  width: 151px;
  min-height: 321px;
  background: #f2f2f2;
  border-radius: 7px;
  display: flex;
  justify-content: flex-end;
}

.book__title6 {
  margin-top: 15px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #17141e;
}
.book_subtitle6 {
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.015em;
  color: rgba(23, 20, 30, 0.74);
}

.favorite__button {
  margin-right: 40px;
  margin-top: 41px;
  padding: 8px 23px;
  height: 39px;
  background-color: #2c2c56;
  border: 1px solid #1d1d4a;
  border-radius: 6px;
  color: white;
}

.semmer {
  background-color: #cae1e4;
  margin-top: 102px;
}
.semmer__container {
  display: flex;
  align-items: center;

  justify-content: center;
}

.semmer__left {
  margin-top: 64px;
  margin-right: 107px;
  margin-bottom: 65px;
}

.semmer__center {
  margin-top: 118px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 65px;
}
.center__title {
  min-width: 372px;

  font-weight: 600;
  font-size: 45px;
  line-height: 54px;
  text-align: center;
  color: #17141e;
}
.center__subtitle {
  margin-top: 21px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.02em;
  color: rgba(23, 20, 30, 0.74);
}
.center__button {
  margin-top: 39px;
  padding: 8px 24px;
  height: 39px;
  background: #2c2c56;
  border: 1px solid #1d1d4a;
  border-radius: 6px;
  color: white;
}
.semmer__right {
  margin-top: 64px;
  margin-left: 107px;
  margin-bottom: 65px;
}

.best {
  margin-top: 75px;
}
.best__container {
  display: flex;
  flex-direction: column;
}

.best__header {
  display: flex;
  justify-content: space-between;
}
.best__title {
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 54px;
  text-align: center;
  color: #17141e;
}
.best__icons {
  display: flex;
  align-items: center;
  gap: 7px;
}
.icon__first {
  padding: 8px 16px;
  height: 33px;
  background: #ffffff;
  border: 1px solid #1d1d4a;
  border-radius: 3px;
}
.icon__second {
  padding: 11px 18px;
  height: 33px;
  background: #2c2c56;
  border-radius: 3px;
}

.best__boxes {
  display: flex;
  margin-top: 43px;
  gap: 26px;
}
/* .best__box {
} */
.box__border {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 392px;
  background: #f2f2f2;
  border-radius: 7px;
  /* padding: 29px 53px 125px 53px; */
}
.box__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.015em;
  text-transform: capitalize;
  color: #17141e;
}
.box_subtitle {
  margin-top: 9px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.005em;
  color: #0e0e3e;
}

.box__border:nth-child(even) {
  margin-bottom: 57px;
}

.box__border:nth-child(odd) {
  margin-bottom: 33px;
}

.people {
  margin-top: 68px;
}
.people__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.people__left {
  max-width: 555px;
  padding: 13px 75px;
  background: #cee4e8;
  border-radius: 14px;
}
.people__right {
  margin-left: 101px;
  display: flex;
  align-items: center;

  flex-direction: column;
}
.people__title {
  max-width: 424px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 54px;
  letter-spacing: -0.005em;
  color: #17141e;
}
.people__subtitle {
  max-width: 424px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-top: 21px;
  letter-spacing: -0.033em;
  color: rgba(23, 20, 30, 0.74);
}
.people__button {
  max-width: 135px;
  background: #2c2c56;
  border: 1px solid #1d1d4a;
  border-radius: 6px;
  color: white;
  padding: 8px 18px;
  margin-top: 43px;
  align-self: flex-start;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.045em;
}

.outline {
  margin-top: 120px;
}

.outline__boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.outline__title {
  max-width: 173px;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  color: #17141e;
}

.outline__box1 {
  position: relative;
  padding: 54px 150px 88px 30px;
  max-width: 344px;
  background: #fcffc7;
  border-radius: 7px;
}

.outline__box1 > img {
  position: absolute;
  bottom: -1px;
  left: 160px;
}

.links {
  /* text-decoration: underline; */
  display: flex;
  margin-top: 11px;
}

.outline__box3 > a {
  display: flex;
  margin-top: 11px;
}

.outline__box2 {
  padding: 54px 151px 60px 27px;
  max-width: 344px;
  background: #d9fecd;
  border-radius: 7px;
}

.outline__box3 {
  position: relative;
  padding: 54px 141px 88px 27px;
  max-width: 344px;
  /* height: 195px; */
  background: #cad4fc;
  border-radius: 7px;
}

.outline__box3 > img {
  position: absolute;
  bottom: 5px;
  left: 152px;
}

.favorite__book:hover {
  background-color: #d9fecd;
} 

.book1__border:hover {
  background-color: #d9fecd;
}

.book__border:hover {
  background-color: #d9fecd;
}

.favorite__book6:hover {
  background-color: #d9fecd;
}
.book__border6:hover {
  background-color: #d9fecd;
}

.favorite__card:hover {
  background-color: #d9fecd;

}

.book__button:hover {
  background-color: #6bc7e9;
}

.box__border:hover {
  background-color: #cad4fc;
}

.best__button {
  display: flex;
  align-self: center;
  padding: 9px 36px;
  border: 1px solid #1d1d4a;
  background-color: white;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  margin-top: 39px;
  letter-spacing: 0.02em;
  color: #1d1d4a;
}

.community {
  margin-top: 105px;
  background-color: #d2e5e7;
}
.community__container {
  display: flex;
  align-items: center;
}
.community__left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 106px;
}
.community__title {
  margin-top: 106px;
  max-width: 243px;
  font-weight: 600;
  font-size: 45px;
  line-height: 54px;
  letter-spacing: -0.005em;
  color: #17141e;
}

.community__subtitle {
  margin-top: 21px;
  max-width: 402px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.023em;
  color: rgba(23, 20, 30, 0.74);
}
.community__icons {
  margin-top: 34px;
  display: flex;
  gap: 78px;
}
.community__icon > p {
  margin-top: 8px;
  max-width: 80px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #17141e;
}

.community__icon > i {
  margin-left: 20px;
  color: blue;
}

.community__right {
  margin-left: 142px;
  margin-bottom: 106px;
}

.right__imgs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img1 {
  margin-top: 138px;
}

.img2 {
  margin-top: 197px;
}

.img3 {
  margin-top: 101px;
}

.img4 {
  margin-left: 20px;
  margin-top: 174px;
}

.footer {
  margin-top: 85px;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__items {
  margin-top: 30px;
}

.footer__left {
  display: flex;
  flex-direction: column;
  margin-bottom: 115px;
}
.left__item {
  margin-top: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.07em;
  color: #171719;
}
.footer__center {
  margin-left: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 49px;
}
.center__title1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.005em;
  color: rgba(23, 20, 30, 0.75);
}
.center__content {
  display: flex;
  gap: 30px;
}

/* .center__left {
} */
.center__subtitle1 {
  max-width: 130px;
  margin-top: 33px;
  margin-left: 25px;

  font-weight: 400;
  font-size: 15px;
  line-height: 124.3%;
  text-align: center;
  color: rgba(23, 20, 30, 0.75);
}

.center__subtitle2 {
  max-width: 130px;
  margin-top: 33px;
  margin-left: 25px;
  font-weight: 400;
  font-size: 15px;
  line-height: 124.3%;
  text-align: center;
  color: rgba(23, 20, 30, 0.75);
}
.center__box {
  margin-top: 18px;
  width: 192px;
  height: 162px;
  background: #d9d9d9;
  border-radius: 7px;
}
/* .center__right {
} */
.footer__right {
  margin-left: 66px;
}
.right__title {
  max-width: 227px;

  font-weight: 600;
  font-size: 24px;
  margin-top: -60px;
  line-height: 32px;
  letter-spacing: -0.005em;
  text-transform: capitalize;
  color: #17141e;
}
.footer__input {
  margin-top: 39px;
  align-items: center;
  padding: 4px 8px;
  background: #ffffff;
  border: 1px solid #1d1d4a;
  border-radius: 7px;
}

.footer__button {
  background: #2c2c56;
  border: 1px solid #1d1d4a;
  border-radius: 6px;
  color: white;
  margin-left: 25px;
  padding: 8px 23px;
  height: 39px;
}

.right__app {
  margin-top: 25px;
}

.right__app > h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.005em;
  text-transform: capitalize;
  color: #17141e;
}

.right__app > img {
  margin-top: 13px;
  gap: 19px;
}

.footer__bottom {
  vertical-align: middle;
  background-color: #dedede;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.023em;
  color: rgba(23, 20, 30, 0.74);
}
